h1, a {
  font-family: "Arial";
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  opacity: 0.6;
}

.markdown {
  font-family: 'Arial';
}

.markdown a {
  text-decoration: none;
  color: blue;
}

.markdown a:hover {
  opacity: 0.6;
}

.markdown h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}